body {
  background-color: bisque;
}

.jumbotron {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#name-form {
  margin: auto;
  width: 50%;
  border: 1px solid teal;
  padding: 25px;
  display: none;
}
