@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');

div {
  font-family: 'Kurale', serif;
}

body {
  background-color: #FFE881;
}

.jumbotron {
  background-color: #B6FDDB;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
